@using May01.Models
@model Course

<div class="container">
    <div class="row">
        <h2>ShowCourseData</h2>
    </div>

    <div class="row">
        <h5>用DisplayName和Display顯示資料</h5>
        <!--會直接拿model-->
        @Html.DisplayName("Code"); @Html.Display("Code"); <br />
        @Html.DisplayName("Name"); @Html.Display("Name"); <br />
        @Html.DisplayName("ServiceEmail"); @Html.Display("ServiceEmail"); <br />
    </div>


    <div class="row">
        <h5>用DisplayNameFor和DisplayFor配lambda顯示資料</h5>
        <!--用for 系列配 lambda compiler可以幫忙除錯-->
        @Html.DisplayNameFor(m => m.Code); @Html.DisplayFor(m => m.Code); <br />
        @Html.DisplayNameFor(m => m.Name); @Html.DisplayFor(m => m.Name); <br />
        @Html.DisplayNameFor(m => m.ServiceEmail); @Html.DisplayFor(m => m.ServiceEmail); <br />
    </div>

    <div class="row">
        <h5>用DisplayNameFor和DisplayTextFor配lambda顯示資料(變成純文字)</h5>
        <!--用for 系列配 lambda compiler可以幫忙除錯-->
        @Html.DisplayNameFor(m => m.Code); @Html.DisplayTextFor(m => m.Code); <br />
        @Html.DisplayNameFor(m => m.Name); @Html.DisplayTextFor(m => m.Name); <br />
        @Html.DisplayNameFor(m => m.ServiceEmail); @Html.DisplayTextFor(m => m.ServiceEmail); <br />
    </div>

    <div class="row">
        <h5>用DisplayName和DisplayText顯示資料(變成純文字)</h5>
        <!--會直接拿model-->
        @Html.DisplayName("Code"); @Html.DisplayText("Code"); <br />
        @Html.DisplayName("Name"); @Html.DisplayText("Name"); <br />
        @Html.DisplayName("ServiceEmail"); @Html.DisplayText("ServiceEmail"); <br />
    </div>

    <div class="row">
        <h5>用Label/LabelFor(會包在label標籤底下)和DisplayFor配lambda顯示資料</h5>
        <!--用for 系列配 lambda compiler可以幫忙除錯-->
        @Html.LabelFor(m => m.Code); @Html.DisplayTextFor(m => m.Code); <br />
        @Html.Label("Name"); @Html.DisplayTextFor(m => m.Name); <br />
        @Html.LabelFor(m => m.ServiceEmail); @Html.DisplayTextFor(m => m.ServiceEmail); <br />
    </div>

    <div class="row">
        <h5>用TextBoxFor, ... CheckBoxFor, DropDownListFor, ...(也可以不用For的版本) 自行決定input type</h5>
        <!--用for 系列配 lambda compiler可以幫忙除錯-->
        @Html.LabelFor(m => m.Code); @Html.TextBoxFor(m => m.Code); <br />
        @Html.Label("Name"); @Html.TextAreaFor(m => m.Name); <br />
        @Html.LabelFor(m => m.ServiceEmail); @Html.TextBoxFor(m => m.ServiceEmail); <br />
    </div>

    <div class="row">
        <h5>用using(BeginForm)產生表單</h5>
        @using (Html.BeginForm("AddCourse", "Course", "POST"))
        {

            @Html.LabelFor(m => m.Code); @Html.TextBoxFor(m => m.Code); <br />
            @Html.Label("Name"); @Html.TextBoxFor(m => m.Name); <br />
            @Html.LabelFor(m => m.ServiceEmail); @Html.TextBoxFor(m => m.ServiceEmail); <br />
            <input type="submit" value="送出" />
        }
    </div>

    <div class="row">
        <h5>用editorForModel直接自動產生所有欄位(順便包到表單裡)做簡單維護</h5>
        @using (Html.BeginForm("AddCourse", "Course", "POST"))
        {
            @Html.EditorForModel();
            <input type="submit" value="送出" />
        }
    </div>

    </div>





