@using May01.Models
@model Course

<h2>ShowCourseData</h2>

<!--好像會直接拿model-->
@Html.DisplayName("Code"); @Html.Display("Code");
@Html.DisplayName("Name"); @Html.Display("Name");
@Html.DisplayName("ServiceEmail"); @Html.Display("ServiceEmail");


