@using May01.Models
@model Course

<div class="container">
    <div class="row">
        <h2>ShowCourseData</h2>
    </div>

    <div class="row">
        <!--好像會直接拿model-->
        @Html.DisplayName("Code"); @Html.Display("Code"); <br />
        @Html.DisplayName("Name"); @Html.Display("Name"); <br />
        @Html.DisplayName("ServiceEmail"); @Html.Display("ServiceEmail"); <br />
    </div>

    <!--用for 系列配 lambda compiler可以幫忙除錯-->
    <div class="row">
        @Html.DisplayNameFor(m => m.Code); @Html.DisplayFor(m => m.Code); <br />
        @Html.DisplayNameFor(m => m.Name); @Html.DisplayFor(m => m.Name); <br />
        @Html.DisplayNameFor(m => m.ServiceEmail); @Html.DisplayFor(m => m.ServiceEmail); <br />
    </div>




</div>



