@using May01.Models
@model Employee


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateEmployee</title>
</head>
<body>
    <div>


        @using (Html.BeginForm())
        {

            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            <br />

            @Html.LabelFor(m => m.Name) @Html.TextBoxFor(m => m.Name)

            <br />
            @Html.LabelFor(m => m.HireDate) @Html.TextBoxFor(m => m.HireDate)

            <br />
            <input type="submit" value="送出" />
        }

    </div>
</body>
</html>
