@using May15.Models
@model JobModel

<h2>Edit</h2>

<div class="container" style="margin: 33px;">
    @if (Model != null) {
        using (Html.BeginForm("Update", "Job", FormMethod.Post))
        { 

            @Html.AntiForgeryToken()
            @Html.HiddenFor(Model => Model.Id);
        <div class="card">

            <h5 class="card-title">職位代碼 : @Html.EditorFor(Model => Model.Code)</h5>
            <h5 class="card-title">職位名稱 : @Html.EditorFor(Model => Model.Name)</h5>
            <h5 class="card-title">薪資範圍 : @Html.EditorFor(Model => Model.MinSalary) ~ @Html.EditorFor(Model => Model.MaxSalary) </h5>
            <h5 class="card-title">工作地點 : @Html.EditorFor(Model => Model.JobLocation)</h5>
            <h5 class="card-title">工作內容 : @Html.EditorFor(Model => Model.Desc)</h5>

        </div>
        <br />
        <div class="btn-group" role="group" aria-label="Basic example">
            <input type="submit" class="btn btn-primary" value="儲存" />
            @Html.ActionLink("回上一頁", "Query", "Job", null, new { @class = "btn btn-primary", @role = "button" })
        </div>
        }
    } 
    else{
        <div class="card" style="width: 18rem;">

            <div class="card-body">
                <h2 class="card-title">Data missed</h2><br />

            </div>

        </div>
    
    }

</div>